<md-toolbar>
    <div class="md-toolbar-tools">
        <a ui-sref="home">
            Ulti <i class="material-icons">assessment</i> Insight
        </a>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button ng-disabled="true">
            Do stuff
        </md-button>
    </div>
</md-toolbar>

<div layout="row" layout-padding>

    <section flex="60" layout-align="center center">
        <in-video-file
            flex="75">
        </in-video-file>
    </section>

    <section flex ui-view>
        <div layout="column" layout-padding>

            <div layout="row" layout-margin layout-align="space-around center">

                <md-input-container flex>
                    <label>Team 1</label>
                    <input
                        ng-model="ctrl.game.team1"
                        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                        ng-change="ctrl.updateGame()">
                </md-input-container>

                <div>VS</div>

                <md-input-container flex>
                    <label>Team 2</label>
                    <input ng-model="ctrl.game.team2"
                           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                           ng-change="ctrl.updateGame()">
                </md-input-container>

            </div>
            <md-button class="md-raised md-primary">Start</md-button>
        </div>


        <!--<div ng-cloak>-->
        <!--<md-content>-->
        <!--<md-tabs md-dynamic-height md-border-bottom class="md-accent">-->
        <!--<md-tab label="Offense">-->
        <!--<md-content class="md-padding">-->
        <!--<in-team></in-team>-->
        <!--</md-content>-->
        <!--</md-tab>-->
        <!--<md-tab label="Defense">-->
        <!--<md-content class="md-padding">-->
        <!--<in-team></in-team>-->
        <!--</md-content>-->
        <!--</md-tab>-->
        <!--</md-tabs>-->
        <!--</md-content>-->
        <!--</div>-->
    </section>

</div>
