<md-toolbar>
    <div class="md-toolbar-tools">
        <a ui-sref="home">
            Ulti <i class="material-icons">assessment</i> Insight
        </a>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button ng-disabled="true">
            Do stuff
        </md-button>
    </div>
</md-toolbar>

<div layout="row" layout-padding>

    <section flex="60" layout-align="center center">
        <in-video-file
            time-update="updateTime"
            time="time"
            flex="75">
        </in-video-file>

        <h1>Time :
            {{time | number:2}} </h1>
    </section>


    <section flex>
        <div layout="column" layout-padding>

            <div layout="row" layout-margin layout-align="space-around center">
                <md-input-container flex>
                    <label>Team 1</label>
                    <input
                        ng-model="ctrl.game.team1"
                        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                        ng-change="ctrl.updateGame()">
                </md-input-container>

                <div>VS</div>

                <md-input-container flex>
                    <label>Team 2</label>
                    <input ng-model="ctrl.game.team2"
                           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                           ng-change="ctrl.updateGame()">
                </md-input-container>
            </div>
        </div>
    </section>

</div>
