<md-toolbar>
    <div class="md-toolbar-tools">
        <a ui-sref="home">
            <i class="material-icons">assessment</i>
            Ulti Insight
        </a>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button ng-click="ctrl.createGame()">
            Record a new game
        </md-button>
    </div>
</md-toolbar>

<h1 flex class="md-display-4 center">
    Ulti
    <md-icon style="font-size:48px">assessment</md-icon>
    Insight
</h1>

<md-content layout="row" layout-padding layout-margin>

    <div flex class="md-whiteframe-4dp">
        <div layout="row" layout-align="space-between center">
            <h3 class="md-headline">
                Games
            </h3>
            <md-button class="md-fab md-button md-primary md-ink-ripple"
                       ng-click="ctrl.createGame()">
                <md-icon>add</md-icon>
            </md-button>
        </div>

        <div ng-if="!games || games.length < 1">No games</div>

        <md-list ng-if="games && games.length > 0" role="gamesList">
            <!--<md-subheader class="md-no-sticky">Previous games</md-subheader>-->
            <md-list-item ng-repeat="game in games | orderBy:'-create'"
                          ng-click="ctrl.openGame(game._id)"
                          class="md-3-line md-no-proxy">
                <md-icon class="md-avatar">face</md-icon>

                <div class="md-list-item-text">
                    <h3> {{ game.team1 || 'Unnamed Team' }} vs {{ game.team2 || 'Unnamed Team' }}</h3>
                    <h4> {{ game.create | date:'medium'}} </h4>

                    <p> {{ game._id }} </p>
                </div>

                <md-button aria-label="delete" class="md-secondary md-warn md-raised"
                           ng-click="ctrl.deleteGame($event, game._id)">
                    <md-icon>delete</md-icon>
                </md-button>
            </md-list-item>
        </md-list>


    </div>

    <div flex class="md-whiteframe-4dp">
        <!--<div layout="row" layout-align="space-between center">-->
            <!--<h3 class="md-headline">Teams</h3>-->
            <!--<md-divider></md-divider>-->
            <!--<form ng-submit="ctrl.createTeam(newTeamName)">-->
                <!--<md-input-container>-->
                    <!--<label>Team name</label>-->
                    <!--<input ng-model="newTeamName" type="text">-->
                <!--</md-input-container>-->
                <!--<md-button class="md-fab md-button md-primary md-ink-ripple"-->
                           <!--ng-click="ctrl.createTeam(newTeamName)">-->
                    <!--<md-icon>add</md-icon>-->
                <!--</md-button>-->
            <!--</form>-->
        <!--</div>-->

        <!--<md-list ng-if="games && games.length > 0" role="gamesList">-->
            <!--&lt;!&ndash;<md-subheader class="md-no-sticky">Previous games</md-subheader>&ndash;&gt;-->
            <!--<md-list-item ng-repeat="team in teams | orderBy:'-create'"-->
                          <!--ng-click="ctrl.openTeam(team._id)"-->
                          <!--class="md-3-line md-no-proxy">-->
                <!--<md-icon class="md-avatar">face</md-icon>-->

                <!--<div class="md-list-item-text">-->
                    <!--<h3> {{ team._id }}</h3>-->
                    <!--<h4> {{ team.create | date:'medium'}} </h4>-->
                <!--</div>-->

                <!--<md-button aria-label="delete" class="md-secondary md-warn md-raised"-->
                           <!--ng-click="ctrl.deleteTeam($event, team._id)">-->
                    <!--<md-icon>delete</md-icon>-->
                <!--</md-button>-->
            <!--</md-list-item>-->
        <!--</md-list>-->
    </div>

</md-content>
