<md-toolbar>
    <div class="md-toolbar-tools">
        <a ui-sref="home">
            <i class="material-icons">assessment</i>
            Ulti Insight
        </a>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button ng-click="ctrl.createGame()">
            Record a new game
        </md-button>
    </div>
</md-toolbar>

<h1 flex class="md-display-4 center">
    Ulti
    <md-icon style="font-size:48px">assessment</md-icon>
    Insight
</h1>


<div layout="column" layout-align="center center">
    <md-button class="md-raised"
               ng-click="ctrl.createGame()">
        Record a new game
    </md-button>
</div>

<md-divider style="margin:15px;"></md-divider>

<div ng-if="!games || games.length < 1">No games</div>

<md-list ng-if="games && games.length > 0">
    <md-subheader class="md-no-sticky">Previous games</md-subheader>
    <md-list-item ng-repeat="game in games" ng-click="ctrl.openGame(game._id)">
        <md-icon>face</md-icon>
        <p>{{ game.name || 'untitled game' }} <small style="color:#999">{{ game._id }}</small></p>
        <md-icon ng-click="ctrl.deleteGame(game._id)">delete</md-icon>
    </md-list-item>
</md-list>
