<div layout="column">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>
                <i class="material-icons">face</i>
                Ulti Insight
            </span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <md-button>
                Right Bar Button
            </md-button>
        </div>
    </md-toolbar>
</div>

<md-input-container>
    <label>Youtube url</label>
    <input type="url" ng-model="ytUrl">
</md-input-container>

<youtube-video video-url="ytUrl"></youtube-video>
