<div layout="row">

    <div flex="5"></div>

    <section flex="60">
        <in-video-file
            ng-if="$stateParams.videoType == 'local'"
            flex="75">
        </in-video-file>
    </section>

    <section flex="30">
        <div ng-cloak>
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom class="md-accent">
              <md-tab label="Offense">
                <md-content class="md-padding">
                    <section layout="column" layout-align="center center">

                        <div layout="row">
                            <in-player>+</in-player>
                            <in-player>+</in-player>
                            <in-player>+</in-player>
                        </div>
                        <div layout="row">
                            <in-player>+</in-player>
                            <in-player>+</in-player>
                            <in-player>+</in-player>
                        </div>
                        <div layout="row">
                            <in-player>+</in-player>
                            <in-player>+</in-player>
                            <in-player>+</in-player>
                        </div>

                    </section>
                </md-content>
              </md-tab>
              <md-tab label="Defense">
                <md-content class="md-padding">
                  
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
    </section>

    <div flex="5"></div>

</div>